body{
    background-color: #e0d3eb;
}
a{
  color:rgb(33, 16, 214);
}
.weather-application{
   background: #c4b2cb;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #dedae514;
  border-radius: 16px;
  padding: 40px;
}
.search-form{
  border-bottom: 1px solid rgb(220, 167, 240);
  padding: 0 0 30 0;
  box-shadow: #a8a8d1;
}
.search-form-input {
  background-color: #eae0f9;
  border: none;
  border-radius: 6px;
  width: 76%;
  font-size: 16px;
  padding: 15px 20px;
  margin-left: 30px;
}
.search-form-button {
  background: #693cd2;
  color:whitesmoke;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  
}
.Welcome{
  font-weight: bold;
  color:#6b32de;
  font-size: 23px;
  font-weight: 400;
  line-height: 25px;
}
.application-data{
  display:flex;
  justify-content: space-between;
}
.city-details{
 padding: 10px 0;
  font-weight: 500;
  font-size: 25px;
}
.city{
  font-weight: 500;
  font-size:20px;
  line-height: 10px;
}
#time{
  color:#5032e4;
}
#humidity{
  color:#5032e4;
}
#wind{
  color:#5032e4;
}
#speed{
  color:#5032e4;
}
#percentage{
  color:#5032e4;
}
#city-temp{
   font-size: 50px;
  display:flex;
  font-weight: bold;
  margin-top: 30px;
}
.weather-forecast{
  display :flex;
  justify-content: space-around;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(29, 5, 53, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  
}

.weather-forecast-icon {
  font-size: 35px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #9b2ba1;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
footer{
  border-top: 1px solid #a8a8d1;
  font-size: 14px;
  text-align: center;
  padding: 30 0 0 0;
  color: rgba(24, 23, 23, 0.6);
}
